{% extends "template.html" %}

{% block conteudo %}

  <h1>Class 4 </h1>

  <h2>Funcionários</h2>
  <table>
    <thead>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Stacks</th>
    </thead>
    <tbody>
      {% for pessoa in pessoas %}
      <tr>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.cargo }}</td>
        <td>{{ pessoa.stacks }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button ><a href="{{ url_for('cadastrar') }}"> + Adicionar pessoas</a></button>

  {% endblock %}
