<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>Document</title>
</head>
<body>
    <form method="post" action="/adicionar">
      <label for="">Nome</label>
      <input type="text" name="nome" placeholder="Digite seu nome">
      <label for="">Cargo</label>
      <input type="text" name="cargo" placeholder="Digite seu cargo">
      <label for="">Stacks</label>
      <input type="text" name="stacks" placeholder="Quais stacks você utiliza">
      <button type="submit">Cadastrar</button>

    </form>
</body>
</html>